.full-width-features li{
	width: 100%;
}

@media only screen and (max-width: 768px) {
	/* For mobile: */
img.presents_img{
	width:80%;
	}
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	img.presents_img{
	width:500px;
	}
}